* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #0D0D0D;
  background-color: #FDFDFD;
}

a {
  color: #0E75C4;
  text-decoration: none;
}
a::before {
  content: "(";
}
a::after {
  content: ")";
}
a:hover {
  text-decoration: line-through;
}
